@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
}
*:focus{
    outline: none;
}

body{
    background: linear-gradient(135deg, #38ef7d, #11998e);
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #fff;
    border-radius: 25px;
    height: 50vh;
    max-width: 720px;
    margin: 20px 10px;
    text-align: center;
    padding: 25px;
    margin-bottom: 200px;
    box-shadow: 2px 2px 8px #63b67f
}

.header{
    margin-top: 20px;
}

.sub-text{
    font-weight: 400;
    margin: 10px 0px 20px 0px;
}

input{
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 60%;
    text-align: center;
}

#btn{
    padding: 10px 20px;
    border: 1px solid #38ef7d;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 38ef7d;
    background: linear-gradient(135deg, #38ef7d, #38ef7d, #11998e);
}

#error{
    color: rgb(248, 90, 90);
    margin: 10px;
}

#output{
    margin: 20px;
    letter-spacing: 0.6;
    line-height: 1.3;
}

.processing-gif {
    border-radius: 10px;
    width: 300px;
}